{% extends "index.html" %}

{% block title %}
    Find a Tutor
{% endblock %}

{% block main %}
    <div class = "card-deck">
        {% for tutor in tutors %}
            <div class="card border-info mb-3" style="max-width: 18rem;">
              <img class="card-img-top" src="static/Harold.png">
              <div class="card-header"> {{ tutor.firstname }} {{ tutor.lastname }}</div>
              <div class="card-body text-info">
                <h5 class="card-title">{{ tutor.username }}</h5>
                <p class="card-text">My last name, {{ tutor.lastname }} is the best name in the world no cap</p>
              </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
